* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-------------------------------------Home content--------------------------------*/
.background {
  width: 100%;
  background-image: url("/img/background.png");
  background-position: center;
  background-size: cover;
}

header {
  width: 60%;
  margin: auto;
  padding: 20px 0;
}

header .navbar {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

.logo {
  font-weight: lighter;
  font-size: 2em;
  letter-spacing: 1px;
  color: #fff;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items li {
  margin-left: 40px;
}

.nav-items li a {
  color: #fff;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 35px;
  height: 3px;
  background: #fff;
  margin-bottom: 3px;
}

#content {
  width: 55%;
  margin: auto;
}

.content {
  position: relative;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .textBox {
  margin-left: 0px;
}

.content .textBox h1 {
  font-size: 3.7em;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 20px;
}

.content .textBox p {
  font-size: 1.8em;
  margin-bottom: 30px;
  letter-spacing: 1px;
  width: 80%;
  color: #fff;
}

.content .textBox .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .textBox .icons li {
  margin-right: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
}

.content .textBox .icons li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .imgBox {
  z-index: 2;
}

.content .imgBox img {
  width: 550px;
}

/*---------------X----------------------Home content---------------X-----------------*/
/*----------------------------------Instruments-------------------------------*/
#instruments {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#instruments h2 {
  margin-bottom: 50px;
  font-size: 2.7em;
  font-weight: lighter;
}

.instruments {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle img {
  width: 90px;
}

/*---------------X-------------------Instruments---------------X----------------*/
/*------------------------------------Projects section ------------------------------*/
#projects {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects h2 {
  font-size: 2.7em;
  margin-bottom: 50px;
  font-weight: lighter;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projectBox {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 400px;
  background: #ececec;
}

.projects .projectBox .projectImg {
  width: 100%;
  height: 150px;
  background: #c0c0c0;
  margin-bottom: 20px;
}

.projects .projectBox p {
  text-align: justify;
  margin-bottom: 10px;
}

.projects .projectBox .project-icons {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .projectBox .project-icons img {
  width: 40px;
}

.project-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-btn button {
  width: 49%;
  padding: 12px 8px;
  border: none;
  border-radius: 15px;
}

.project-btn button a {
  color: #000;
}

/*-----------------X-------------------Projects section ---------------X---------------*/
.contact-content {
  position: relative;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-text {
  text-align: center;
}

.contact .contact-text p {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.circle-contact {
  width: 150px;
  height: 150px;
  background: #ff7676;
  border-radius: 50%;
  margin-bottom: 50px;
}

@media screen and (max-width: 867px) {
  .burger {
    display: block;
    z-index: 9;
  }
  .nav-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: #cacaca;
    opacity: 0.9;
    z-index: 8;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.9s ease-in;
    transition: all 0.9s ease-in;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-items li {
    margin-left: 0rem;
    margin-bottom: 20px;
  }
  .nav-items li a {
    font-size: 1.5em;
  }
  .nav-open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=styles.css.map */