html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;

  &.no-scroll {
    overflow: hidden;
  }
}
h1,
h2,
h3 {
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  color: #1b6a92;
}
p {
  color: #383838;
  letter-spacing: 0.0825rem;
  font-weight: lighter;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
// Spacing

.container {
  max-width: 70.625rem;
  margin: auto;
  padding-right: 1.375rem;
  padding-left: 1.375rem;
}

// Flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// Buttons

.primary-btn {
  padding: 0.75rem 2.5rem;
  background: linear-gradient(to right, #1b6a92, #cc6b9b);
  border-radius: 20px;
  color: #fff;
  transition: all 300ms ease-in-out;
  &:hover {
    opacity: 0.75;
    color: white;
  }
}

// Visibility

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
