.header {
  position: relative;
  z-index: 1;
  // Hamburger open styles

  &.open {
    .overlay {
      display: block;
    }
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
        transform-origin: center left;
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
        transform-origin: 5px 4px;
      }
    }
  }
  .overlay {
    opacity: 0;
    position: fixed;
    top: 7.8125rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #383838, transparent);
  }
  nav {
    position: relative;
    background: #fff;
    padding-top: 2.2875rem;
    padding-bottom: 2.2875rem;
    width: 90%;
    margin: auto;
  }
  &__logo {
    color: var(--grayBlack);
    font-size: 1.875rem;
    font-weight: lighter;
    font-family: "Montserrat", sans-serif;
  }

  &__toggle {
    span {
      display: block;
      width: 29px;
      height: 3px;
      background-color: var(--grayBlack);
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  &__menu {
    position: absolute;
    background: #fff;
    padding: 1.625rem;
    border-radius: 5px;
    width: calc(100% - 3rem);
    left: 50%;
    margin-top: 1.5rem;
    transform: translateX(-50%);
    a {
      display: block;
      color: #383838;
      padding: 0.625rem;
      text-align: center;
    }
  }
  &__links {
    a {
      font-size: 0.9375rem;
      position: relative;
      transition: all 400ms ease-in-out;
    }
    a:not(:last-child) {
      margin-right: 4.875rem;
      color: #383838;
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -10px;
      }
      &:hover {
        color: #000;
        &::before {
          background: #1b6a92;
        }
      }
    }
  }
}
