.hero {
  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 3.125rem;

    @include breakpoint-up(medium) {
      text-align: center;
    }

    @include breakpoint-up(large) {
      text-align: left;
      flex: 1;
    }

    p {
      font-size: 0.875rem;
      width: 12.5rem;
      margin: 1.895rem auto;

      @include breakpoint-up(medium) {
        font-size: 1.65rem;
        width: 25rem;
      }

      @include breakpoint-up(large) {
        font-size: 1.65rem;
        width: 25rem;
        margin: 1.895rem 0rem;
      }
    }

    a {

      display: inline-block;
      transition: transform 200ms ease-in-out;

      i {
        color: $blue;
        margin-right: 0.8625rem;

        @include breakpoint-up(medium) {
          font-size: 2.625rem;
        }

        @include breakpoint-up(large) {
          font-size: 2.625rem;
        }
      }
    }

    a:hover {
      transform: scale(1.1) translateY(-0.3125rem);

    }
  }

  &__image {

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 320px;


      @include breakpoint-up(medium) {
        width: 31.25rem;
      }
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }
}