@media screen and (max-width: 1159px) {
  header {
    max-width: 900px;
  }
  .navbar {
    width: 95%;
    margin: auto;
  }

  .content-wrapper .textBox {
    width: 380px;
    h1 {
      font-size: 3.4em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .content-wrapper .imgBox img {
    width: 380px;
  }
}

@media screen and (max-width: 867px) {
  .burger {
    display: block;
    z-index: 9;
  }
  .nav-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: #cacaca;
    opacity: 0.9;
    z-index: 8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s ease-in;
    li {
      margin-left: 0rem;
      margin-bottom: 20px;
      a {
        font-size: 1.5em;
      }
    }
    transform: translateX(100%);
  }
  .nav-open {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 450px) {
  .content-wrapper {
    padding: 20px 0px;
  }
  .content-wrapper .textBox h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .content-wrapper .textBox p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .content-wrapper .imgBox {
    margin: auto;
  }
  .content-wrapper .imgBox img {
    width: 250px;
  }
  .icons li {
    margin-right: 10px;
  }
  .icons i {
    font-size: 1.9em;
  }
  .project-box {
    width: 330px;
  }
  #instruments .headline {
    margin-bottom: 50px;
    font-size: 2em;
  }
  .circle {
    width: 90px;
    height: 90px;
    margin: 10px;

    img {
      width: 60px;
    }
  }
  #projects h2 {
    font-size: 2em;
  }
  .contact .contact-text p {
    font-size: 0.9em;
  }
  .footer-btn {
    padding: 8px 23px;

    margin-top: 10px;

    font-size: 0.8em;
  }
}
