@media screen and (max-width: 1159px) {
  header {
    max-width: 900px;
  }
  .navbar {
    width: 95%;
    margin: auto;
  }
  .content-wrapper .textBox {
    width: 580px;
    h1 {
      font-size: 3.4em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .content-wrapper .imgBox img {
    width: 580px;
  }
}

@media screen and (max-width: 867px) {
  .burger {
    display: block;
    z-index: 9;
  }
  .nav-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: #cacaca;
    opacity: 0.9;
    z-index: 8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s ease-in;
    li {
      margin-left: 0rem;
      margin-bottom: 20px;
      a {
        font-size: 1.5em;
      }
    }
    transform: translateX(100%);
  }
  .open {
    transform: translateX(0%);
  }
  .content-wrapper .textBox {
    width: 300px;
    h1 {
      font-size: 2.4em;
    }
    p {
      font-size: 1.1em;
    }
  }
  .content-wrapper .imgBox img {
    width: 300px;
  }
  .icons li {
    margin-right: 10px;
  }
  .icons i {
    font-size: 2.3em;
  }
  #instruments .headline {
    // margin-bottom: 50px;
    font-size: 2.3em;
  }
  .instruments {
    max-width: 600px;
  }
  .circle {
    width: 120px;
    height: 120px;
    margin: 10px;

    img {
      width: 80px;
    }
  }
  #projects h2 {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 490px) {
  .navbar {
    width: 80%;
  }
  .content-wrapper {
    padding: 20px 0px;
  }
  .content-wrapper .textBox h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .content-wrapper .textBox p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .content-wrapper .imgBox {
    margin: auto;
  }
  .content-wrapper .imgBox img {
    width: 250px;
  }
  #instruments .headline {
    margin-bottom: 50px;
    font-size: 1.8em;
  }
  .instruments {
    .circle {
      width: 80px;
      height: 80px;
      margin: 10px;

      img {
        width: 50px;
      }
    }
  }
  #projects h2 {
    font-size: 1.8em;
  }
  .project-box {
    width: 300px;
  }

  .contact .contact-text p {
    font-size: 0.9em;
  }
  .footer-btn {
    padding: 8px 23px;

    margin-top: 10px;

    font-size: 0.8em;
  }
}
