.icons {
  &__content {
    background: $lightgray;
    width: 100%;
  }

  &__head {
    text-align: center;


    @include breakpoint-up(medium) {
      margin-top: 5.25rem;

    }

  }

  &__wrapper {
    width: 18.75rem;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    min-height: 19.375rem;

    @include breakpoint-up(medium) {
      width: 35.25rem;
      padding-top: 6.25rem;
    }
  }

  &__box {
    padding: 1rem;
    flex: 1 1 6rem;

    img {
      width: 2.375rem;

      @include breakpoint-up(medium) {
        width: 4rem;
      }
    }
  }
}