.about {
    background: $blue;


    &__icon {
        text-align: center;
        padding-top: 3.8rem;
        padding-bottom: 3.8rem;

        @include breakpoint-up(large) {
            max-width: 880px;
        }

        img {
            width: 110px;
        }
    }

    &__text {
        h2 {
            color: #fff;

            @include breakpoint-up(large) {
                font-size: 2.8rem;
            }

            &::before {
                background: #fff;
            }
        }

        p {
            margin-top: 2rem;
            color: #fff;
            font-size: 0.8rem;

            @include breakpoint-up(medium) {
                font-size: 1rem;
                margin-top: 2.6rem;
            }
        }
    }

    &__tools {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 1.5rem 0rem 0.5rem;

        @include breakpoint-up(medium) {
            justify-content: space-around;

        }

        .tool-icon {
            margin-right: 0.7rem;
            margin-top: 0.2rem;

            img {
                width: 45px;

                @include breakpoint-up(large) {
                    width: 60px;
                }
            }
        }
    }
}