.contact {
    background: $contact_background;

    &__icon {
        width: 120px;
        height: 120px;
        background: $white;
        border-radius: 50%;
        margin: 0 auto 2rem;
        background-image: url("../img/about-avatar.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__text {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__button {
        background: $blue;
        text-align: center;
        padding: 0.7rem 3rem;
        border-radius: 30px;


        a {
            color: $white;
        }
    }
}

.contact__form {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), transparent);
    z-index: 2;
    transition: all 2000ms ease-in-out;
    // animation-name: popupContact;
    // animation-duration: 5s;
    // animation-delay: 1s;

}

.contact__form.active {
    display: block;


}

.form-wrapper {
    width: 90%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/contact-illustration.png");
    background-position: bottom;
    background-size: 900px 400px;
    background-repeat: no-repeat;

    @include breakpoint-up(medium) {
        width: 70%;
    }

    @include breakpoint-up(large) {
        width: 50%;
        background-size: 1200px 400px;
    }

    span {
        position: absolute;
        right: 0;
        top: 0;
        background: $blue;
        padding: 0.4rem 0.8rem;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: $white;
        font-size: 1.4rem;
        cursor: pointer;
    }

    h2 {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;


        &::before {
            display: none;
        }
    }
}

form {
    flex-direction: column;


    label {
        display: inline;
        padding-bottom: 0.5rem;
        padding-top: 1.2rem;
        color: $blue;
        font-size: 1.1rem;


    }

    input,
    textarea {
        width: 90%;
        padding: 0.4rem;
        border: 1px solid rgb(218, 218, 218);
        background: $lightgray;
        opacity: 0.75;
        border-radius: 10px;

        @include breakpoint-up(medium) {
            width: 70%;
        }

        @include breakpoint-up(large) {
            width: 60%;
        }
    }

    button {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        width: 90%;
        padding: 0.6rem;
        border: none;
        border-radius: 10px;
        color: $white;
        background: $blue;
        font-size: 1rem;

        @include breakpoint-up(medium) {
            width: 70%;
        }

        @include breakpoint-up(large) {
            width: 60%;
        }
    }
}