.contact {
    background: $blue;

    &__icon {
        width: 130px;
        height: 130px;
        background: $white;
        border-radius: 50%;
        margin: 0 auto 2rem;
        background-image: url("../img/about-avatar.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__text {
        text-align: center;
        margin-bottom: 2rem;

        p {
            color: #fff;
            font-weight: normal;
            font-size: 1.25rem;
        }
    }

    &__btn_wrapper {
        text-align: center;


    }


}

.contact__form {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(17, 21, 56), rgba(0, 0, 0, 0.8), rgba(7, 20, 56, 0.5));
    z-index: 2;

}

.contact__form.active {
    display: block;
    animation: popupContact 0.5s linear forwards;
    // transition: all 2000s ease-in-out;
}


.form-wrapper {
    width: 90%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/contact-illustration.png");
    background-position: bottom;
    background-size: 900px 400px;
    background-repeat: no-repeat;

    @include breakpoint-up(medium) {
        width: 70%;
    }

    @include breakpoint-up(large) {
        width: 50%;
        background-size: 1200px 400px;
    }

    span {
        position: absolute;
        right: 0;
        top: 0;
        background: $blue;
        padding: 0.4rem 0.8rem;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: $white;
        font-size: 1.4rem;
        cursor: pointer;
    }

    h2 {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;


        &::before {
            display: none;
        }
    }
}

form {
    flex-direction: column;


    label {
        display: inline;
        padding-bottom: 0.5rem;
        padding-top: 1.2rem;
        color: $blue;
        font-size: 1.1rem;


    }

    input,
    textarea {
        width: 90%;
        padding: 0.4rem;
        border: 1px solid rgb(218, 218, 218);
        background: $lightgray;
        opacity: 0.75;
        border-radius: 10px;

        @include breakpoint-up(medium) {
            width: 70%;
        }

        @include breakpoint-up(large) {
            width: 60%;
        }
    }
}