.hero {
  padding-top: 2rem;

  @include breakpoint-up(medium) {
    padding-top: 4rem;
  }

  @include breakpoint-up(large) {
    min-height: 770px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__text {
    text-align: center;
    margin-bottom: 3.125rem;

    @include breakpoint-up(medium) {
      text-align: center;
    }

    @include breakpoint-up(large) {
      text-align: left;
      margin-bottom: 0rem;
    }

    h1 {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      margin-bottom: 1.175rem;



      @include breakpoint-up(medium) {
        font-size: 2.8rem;
        margin: 0 auto 1rem;
        width: 500px;
      }

      @include breakpoint-up(large) {
        margin-bottom: 1.2rem;
        font-size: 3.9rem;
        // color: #A54747;
      }
    }


    p {
      font-size: 0.875rem;
      width: 12.5rem;
      margin: 1.895rem auto;

      @include breakpoint-up(medium) {
        font-size: 1.65rem;
        width: 25rem;
      }

      @include breakpoint-up(large) {
        font-size: 1.5rem;
        width: 25rem;
        margin: 0rem 0rem 3rem;
        color: rgb(63, 63, 63);
      }
    }

    a {

      display: inline-block;
      transition: transform 200ms ease-in-out;
      transform: scale(1);



      i {
        color: $blue;
        margin-right: 0.8625rem;

        @include breakpoint-up(medium) {
          font-size: 2.625rem;
        }

        @include breakpoint-up(large) {
          font-size: 3rem;
          margin-right: 1.3rem;
        }
      }
    }

    a:hover {
      transform: scale(1.1) translateY(-0.3125rem);

      i {
        color: #A54747;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;



    img {
      width: 320px;

      @include breakpoint-up(medium) {
        width: 450px;
      }

      @include breakpoint-up(large) {
        width: 550px;
      }

      @include breakpoint-up(x-large) {
        width: 600px;
      }

    }
  }
}