.resume__btns {
    text-align: center;
    padding: 1rem 0rem 0rem;

    @include breakpoint-up(large) {
        order: 2;

    }
}

#resume {
    @include breakpoint-up(large) {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        padding: 3rem 0rem;
    }
}

.resume {
    padding: 0.8rem 1rem 4rem;

    @include breakpoint-up(large) {
        width: 85%;
    }

    &__title {
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 2.1rem;

        @include breakpoint-up(medium) {
            font-size: 2.8rem;
            margin-bottom: 0.3rem;
        }

        @include breakpoint-up(large) {
            width: 30%;
            font-size: 3.8rem;
            text-align: left;
            margin-top: 0rem;
        }

    }

    &__header {
        text-align: center;

        @include breakpoint-up(large) {
            margin-bottom: 4rem;
        }

        .resume__contact {


            @include breakpoint-up(large) {
                display: flex;
            }
        }

        .job {
            margin-bottom: 3rem;

            @include breakpoint-up(large) {
                margin-bottom: 0rem;
                display: flex;
                align-items: center;
                padding-left: 2rem;
                margin-right: 2rem;
            }


            p {
                font-size: 1.025rem;
                font-weight: light;
                color: rgb(70, 70, 70);

                @include breakpoint-up(large) {
                    font-size: 1.9rem;
                    color: $white;
                    width: 65%;
                    text-align: left;
                    line-height: 1.6;

                }

            }

            @include breakpoint-up(large) {
                background: $blue;
            }
        }

        .contact-wrap {

            i {
                font-size: 1.4625rem;
                color: $blue;
                margin-right: 2rem;
            }


            p,
            a {
                letter-spacing: 0.03rem;
                font-size: 0.815rem;

                @include breakpoint-up(large) {
                    font-size: 1rem;
                    margin: 0.6rem 0rem;
                }

            }

            a {
                color: black;
            }
        }


    }

    &__profile {
        h3 {
            font-size: 1.5rem;
        }

        p {
            position: relative;
            text-align: justify;
            font-size: 0.78rem;


            @include breakpoint-up(large) {
                font-size: 1.1rem;
                position: relative;
                margin-left: 2rem;
            }
        }

        p:before {
            @include breakpoint-up(large) {
                content: "";
                position: absolute;
                top: 0;
                left: -30px;
                bottom: 0;
                background: $blue;
                height: 100%;
                width: 1px;
            }
        }
    }

    &__content {

        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
        }

        .resume__content__left {

            h3 {
                font-size: 1.5rem;

                @include breakpoint-up(large) {
                    font-size: 2rem;
                }
            }

            .degree {
                font-size: 1.025rem;
                font-weight: normal;

                @include breakpoint-up(large) {
                    font-size: 1.3rem;
                }
            }

            .major,
            .university {
                width: 80%;
            }

            .major {
                font-style: italic;
            }

            .university {
                font-weight: normal;
            }

            .skills {
                li {
                    font-weight: lighter;
                    letter-spacing: 0.08rem;
                    line-height: 2;
                    font-size: 0.9rem;

                    @include breakpoint-up(large) {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .resume__content__right {
            position: relative;

            h3 {
                font-size: 1.5rem;

                @include breakpoint-up(large) {
                    font-size: 2rem;
                }
            }

            .experience {


                @include breakpoint-up(large) {
                    max-width: 480px;
                }

                .title {
                    font-weight: normal;
                    font-size: 1.1rem;
                    letter-spacing: 0;
                    line-height: 1.1;
                    margin-bottom: 0.3rem;

                    @include breakpoint-up(large) {
                        font-size: 1.4rem;
                    }
                }

                .date {
                    margin-top: 0rem;
                    margin-bottom: 2rem;
                    font-style: italic;
                }

                .desc {
                    li {
                        font-size: 0.9rem;
                        margin-bottom: 0.6rem;
                        line-height: 1.4;
                        letter-spacing: 0.02rem;

                        @include breakpoint-up(large) {
                            font-size: 1.1rem;
                        }
                    }

                    margin-bottom: 2.4rem;
                }

                .place {
                    margin-top: 0rem;
                }
            }


        }

        .resume__content__right:before {
            content: "";
            position: absolute;
            left: -40px;
            top: 10px;
            bottom: 0;
            width: 1px;
            height: 100%;
            background: $blue;
        }
    }
}