.resume__btns {
    text-align: center;
    padding: 1rem 0rem 0rem;

    @include breakpoint-up(large) {
        order: 2;

    }
}

#resume {
    @include breakpoint-up(large) {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        padding: 3rem 0rem;
    }
}

.resume {
    padding: 0.8rem 1rem 4rem;

    @include breakpoint-up(large) {
        width: 85%;
    }

    &__title {
        text-align: center;

        @include breakpoint-up(large) {
            margin-bottom: 0.2rem;
            width: 30%;
            text-align: left;
        }

    }

    &__header {
        text-align: center;

        .resume__contact {
            @include breakpoint-up(large) {
                display: flex;
                align-items: center;

            }
        }

        .job {
            font-size: 1.025rem;
            font-weight: normal;

            @include breakpoint-up(large) {
                font-size: 1.7rem;
                background: $blue;
                color: #fff;
                padding: 1.8rem 1.5rem;
                width: 35%;
                text-align: left;
                line-height: 1.8;
            }
        }

        .info-table {
            margin: auto;

            @include breakpoint-up(large) {
                margin-left: 2rem;
            }

            p {
                margin-left: 1rem;
                text-align: left;
            }

            i {
                font-size: 19px;
                color: $blue;

                @include breakpoint-up(large) {
                    font-size: 1.6375rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    &__profile {
        p {
            position: relative;
            text-align: justify;
            font-size: 0.78rem;


            @include breakpoint-up(large) {
                font-size: 1.1rem;
                position: relative;
                margin-left: 2rem;
            }
        }

        p:before {
            @include breakpoint-up(large) {
                content: "";
                position: absolute;
                top: 0;
                left: -30px;
                bottom: 0;
                background: $blue;
                height: 100%;
                width: 1px;
            }
        }
    }

    &__content {

        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
        }

        .resume__content__left {


            .degree {
                font-size: 1.025rem;
                font-weight: normal;
            }

            .major,
            .university {
                width: 80%;
            }

            .major {
                font-style: italic;
            }

            .university {
                font-weight: normal;
            }

            .skills {
                li {
                    font-weight: lighter;
                    letter-spacing: 0.08rem;
                    line-height: 2;
                    font-size: 0.9rem;

                    @include breakpoint-up(large) {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .resume__content__right {
            position: relative;

            .experience {


                @include breakpoint-up(large) {
                    max-width: 480px;
                }

                .title {
                    font-weight: bold;
                    font-size: 1rem;
                    letter-spacing: 0;
                    line-height: 1.1;
                }

                .desc {
                    li {
                        font-size: 0.9rem;

                        @include breakpoint-up(large) {
                            font-size: 1.1rem;
                        }
                    }

                    margin-bottom: 2.4rem;
                }
            }


        }

        .resume__content__right:before {
            content: "";
            position: absolute;
            left: -40px;
            top: 10px;
            bottom: 0;
            width: 1px;
            height: 100%;
            background: $blue;
        }
    }
}