.primary-btn {
    padding: 0.75rem 2.5rem;
    background: $blue;
    border-radius: 20px;
    color: $white;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #0c3549;
    }
}

.grid-full-btn,
.grid-empty-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.grid-full-btn {
    background: $blue;
    color: $white;

    &:hover {
        background-color: #0c3549;
    }
}

.grid-empty-btn {
    border: 1px solid $blue;
    color: $blue;

    &:hover {
        background: $lightgray;
    }
}



.contact-form-btn {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    width: 90%;
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    color: $white;
    background: $blue;
    font-size: 1rem;

    @include breakpoint-up(medium) {
        width: 70%;
    }

    @include breakpoint-up(large) {
        width: 60%;
    }
}